@import url('https://fonts.googleapis.com/css?family=Muli:300,400');

audio:not([controls]) {
    display: none
}

button {
    overflow: visible;
    -webkit-appearance: button
}

details {
    display: block
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%
}

input {
    -webkit-border-radius: 0
}

input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button
}

input[type=number] {
    width: auto
}

input[type=search] {
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

main {
    display: block
}

pre {
    overflow: auto
}

progress {
    display: inline-block
}

small {
    font-size: 75%
}

summary {
    display: block
}

svg:not(:root) {
    overflow: hidden
}

template {
    display: none
}

textarea {
    overflow: auto
}

[hidden] {
    display: none
}

*, :after, :before {
    box-sizing: inherit
}

* {
    font-size: inherit;
    line-height: inherit
}

:after, :before {
    text-decoration: inherit;
    vertical-align: inherit
}

*, :after, :before {
    border-style: solid;
    border-width: 0
}

* {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0
}

:root {
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    cursor: default;
    font: 100%/1.5 sans-serif;
    text-rendering: optimizeLegibility
}

a {
    text-decoration: none
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle
}

button, input, select, textarea {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit
}

[type=button], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=reset], [type=search], [type=submit], [type=tel], [type=text], [type=time], [type=url], [type=week], button, select, textarea {
    min-height: 1.5em
}

code, kbd, pre, samp {
    font-family: monospace, monospace
}

nav ol, nav ul {
    list-style: none
}

select {
    -moz-appearance: none;
    -webkit-appearance: none
}

select::-ms-expand {
    display: none
}

select::-ms-value {
    color: currentColor
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

textarea {
    resize: vertical
}

::-moz-selection {
    background-color: #b3d4fc;
    color: #fff;
    text-shadow: none
}

::selection {
    background-color: #b3d4fc;
    color: #fff;
    text-shadow: none
}

[aria-busy=true] {
    cursor: progress
}

[aria-controls] {
    cursor: pointer
}

[aria-disabled] {
    cursor: default
}

[hidden][aria-hidden=false] {
    clip: rect(0 0 0 0);
    display: inherit;
    position: absolute
}

[hidden][aria-hidden=false]:focus {
    clip: auto
}

*, :after, :before {
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0
}

.container {
    margin: 0 auto;
    max-width: 1159px;
    padding-left: 19px;
    padding-right: 19px
}

.row {
    margin-left: -19px;
    margin-right: -19px
}

.row:after, .row:before {
    content: "";
    display: table;
    clear: both
}

.col-l-1, .col-l-1by3, .col-l-2, .col-l-2by3, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-l-10, .col-l-11, .col-l-12, .col-m-1, .col-m-1by3, .col-m-2, .col-m-2by3, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12, .col-s-1, .col-s-1by3, .col-s-2, .col-s-2by3, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 100%;
    padding: 0 19px
}

.mt10 {
    margin-top: 10px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt50 {
    margin-top: 50px
}

.mt60 {
    margin-top: 60px
}

.mt70 {
    margin-top: 70px
}

.mt80 {
    margin-top: 80px
}

.mt90 {
    margin-top: 90px
}

.mt100 {
    margin-top: 100px
}

.mb10 {
    margin-bottom: 10px
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.mb40 {
    margin-bottom: 40px
}

.mb50 {
    margin-bottom: 50px
}

.mb60 {
    margin-bottom: 60px
}

.mb70 {
    margin-bottom: 70px
}

.mb80 {
    margin-bottom: 80px
}

.mb90 {
    margin-bottom: 90px
}

.mb100 {
    margin-bottom: 100px
}

.pt10 {
    padding-top: 10px
}

.pt20 {
    padding-top: 20px
}

.pt30 {
    padding-top: 30px
}

.pt40 {
    padding-top: 40px
}

.pt50 {
    padding-top: 50px
}

.pt60 {
    padding-top: 60px
}

.pt70 {
    padding-top: 70px
}

.pt80 {
    padding-top: 80px
}

.pt90 {
    padding-top: 90px
}

.pt100 {
    padding-top: 100px
}

.pb10 {
    padding-bottom: 10px
}

.pb20 {
    padding-bottom: 20px
}

.pb30 {
    padding-bottom: 30px
}

.pb40 {
    padding-bottom: 40px
}

.pb50 {
    padding-bottom: 50px
}

.pb60 {
    padding-bottom: 60px
}

.pb70 {
    padding-bottom: 70px
}

.pb80 {
    padding-bottom: 80px
}

.pb90 {
    padding-bottom: 90px
}

.pb100 {
    padding-bottom: 100px
}

.fill {
    max-width: 100%
}

.half {
    max-width: 50%
}

.tac {
    text-align: center
}

.tal {
    text-align: left
}

.hide {
    display: none
}

body {
    font-size: 16px;
    line-height: 30px;
    font-family: Georgia, Times New Roman, Times, serif;
    font-weight: regular
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4a4e53;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700
}

p {
    margin-top: 0
}

dl, ol, p, ul {
    color: #676262;
    margin-bottom: 20px
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
    margin-top: 0
}

a {
    color: #479e2b
}

code, pre, samp {
    font-family: Source Code Pro, Consolas, Courier, monospace;
    font-weight: regular
}

pre code {
    margin-bottom: 20px;
    margin-top: 0;
    overflow-x: scroll;
    white-space: pre
}

pre code code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    word-wrap: normal
}

code {
    font-family: Source Code Pro, Consolas, Courier, monospace;
    white-space: pre
}

hr {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid transparent;
    border: 0;
    height: 0;
    margin-bottom: 20px
}

mark {
    background-color: #fbf6bb;
    color: #676262
}

sub, sup {
    font-size: smaller
}

abbr, acronym, blockquote, code, input, kbd, q, samp, var {
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

abbr {
    font-variant: small-caps;
    font-weight: regular;
    text-transform: lowercase
}

abbr[title]:hover {
    cursor: help
}

.btn--outline, .btn--primary {
    -webkit-appearance: none;
    background-color: transparent;
    border: 12px solid transparent;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    line-height: 1.5;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
    vertical-align: middle
}

.btn--outline:hover, .btn--primary:hover {
    text-decoration: none
}

.btn--outline:focus, .btn--primary:focus {
    outline: none
}

::-moz-focus-inner {
    border: 0;
    padding: 0
}

fieldset, input, select, textarea {
    box-sizing: border-box;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    outline: 0;
    width: 100%
}

label {
    vertical-align: middle
}

input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
    -webkit-appearance: none;
    height: 50px;
    padding: 10px;
    vertical-align: middle
}

select {
    line-height: 1.75;
    padding: 10px
}

select:not([multiple]) {
    height: 50px;
    vertical-align: middle
}

textarea {
    line-height: 1.75;
    padding: 10px
}

.section-heading {
    margin-bottom: 30px;
    margin-top: 60px;
    position: relative
}

.section-heading:before {
    color: #eee;
    content: attr(data-content) " ";
    font-size: 72px;
    left: -110px;
    position: absolute
}

.section-heading span {
    display: block;
    font-size: 24px;
    font-weight: regular;
    overflow: hidden;
    position: relative
}

.section-heading span:after {
    background-color: #eee;
    content: '';
    height: 1px;
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;
    width: 100%
}

.faajob .section-heading span {
    color: #0097d4
}

.oyo .section-heading span {
    color: #b41c03
}

.aldoshik .section-heading span {
    color: #e67d21
}

.zomato .section-heading span {
    color: #ad252f
}

.section-heading--dark:before {
    color: #dfdfdf
}

.section-heading--dark span:after {
    background-color: #dfdfdf
}

.section-subheading {
    font-size: 18px;
    font-weight: regular
}

.faajob a {
    color: #0097d4
}

.oyo a {
    color: #b41c03
}

.aldoshik a {
    color: #e67d21
}

.zomato a {
    color: #ad252f
}

.project ul {
    padding-left: 20px
}

.project ul li {
    margin-bottom: 10px
}

.project figcaption {
    color: #868c92;
    font-size: 12px;
    font-style: italic;
    line-height: 21px
}

.project figcaption span {
    color: #4a4e53;
    display: block;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: regular;
    margin-bottom: 10px
}

.section-alternate {
    background-color: #f5f5f5
}

.btn--primary {
    color: #fff;
    background: #DD444E;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-size: 16px;
}


.btn--outline {
    border-radius: 5px;
    color: #fff;
    border: 2px solid #fff;
}

.header {
    border-top: 5px solid rgba(0, 0, 0, .2);
    z-index: 1
}

.header__inner {
    padding: 40px 0
}

.header__inner:after, .header__inner:before {
    content: "";
    display: table;
    clear: both
}

.header__logo {
    fill: #4a4e53;
    float: left;
    height: 24px;
    width: 46px
}

.header__nav {
    float: right;
    margin-left: 30px;
    margin-top: -2px
}

.header__social {
    float: right;
    margin-top: -3px
}

.header--absolute {
    position: absolute;
    width: 100%
}

.header--white .header__logo {
    fill: #fff
}

.nav {
    list-style-type: none
}

.nav:after, .nav:before {
    content: "";
    display: table;
    clear: both
}

.nav__item {
    float: left;
    font-size: 13px;
    margin-left: 20px
}

.nav__item:first-child {
    margin-left: 0
}

.nav__link {
    color: #868c92;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif
}

.nav--white .nav__link {
    color: #fff
}

.intro {
    margin-bottom: 80px;
    margin-top: 40px
}

.intro__inner:after, .intro__inner:before {
    content: "";
    display: table;
    clear: both
}

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.intro__headline {
    font-size: 24px;
    line-height: 32px;
    font-weight: regular;
    margin-bottom: 10px;
    text-align: center;
}

.intro__byline {
    font-size: 19px;
    line-height: 32px;
    color: #868c92;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
}

.intro__byline--wide {
    max-width: 700px
}

.intro__btn {
    flex: center;
}

.banner {
    height: 680px;
    overflow: hidden
}

.banner--faajob {
    background-color: #0E43A4;
}

.image-container {
}

.banner__img--faajob {
  width: 100%;
}

.banner__inner--faajob {
  display: flex;
  align-content: center;
}

.banner--oyo {
    background-color: #b41c03;
    background-image: url(../images/projects/oyo/pattern.png);
    background-position: bottom;
    background-repeat: repeat-x
}

.banner--aldoshik {
    background-color: #e67d21
}

.banner--zomato {
    background-color: #ad252f;
    background-image: url(../images/projects/zomato/pattern-zom.png);
    background-repeat: repeat
}

.banner__inner {
    height: 680px;
    position: relative;
    text-align: center
}

.banner__inner:after, .banner__inner:before {
    content: "";
    display: table;
    clear: both
}

.banner__logo {
    fill: #fff;
    margin-bottom: 10px;
    margin-top: 80px
}

.banner__logo--faajob {
    height: 22px;
    width: 180px
}

.banner__logo--oyo {
    height: 40px;
    width: 96px
}

.banner__logo--aldoshik {
    height: 32px;
    width: 166px
}

.banner__logo--zomato {
    height: 37px;
    width: 144px
}

.banner__desc {
    font-size: 16px;
    line-height: 28px;
    color: hsla(0, 0%, 100%, .8);
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
    max-width: 100%
}

.banner__desc, .banner__service-list {
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif
}

.banner__service-list {
    color: hsla(0, 0%, 100%, .9);
    list-style-type: none;
    padding-left: 16px
}

.banner__service-item {
    color: hsla(0, 0%, 100%, .8)
}

.banner__img {
    max-width: 100%
}

.banner__btn {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 10px;
    opacity: .8
}

.banner__btn:hover {
    opacity: 1;
}

.banner .banner__text {
    margin-bottom: 40px;
    text-align: center
}

.social__link {
    display: inline-block;
    margin-left: 12px
}

.social__link:first-child {
    margin-left: 0
}

.social__icon {
    height: 20px;
    width: 20px
}

.social__icon--twitter {
    fill: #55acee
}

.social__icon--dribbble {
    fill: #ea4c89
}

.social__icon--github {
    fill: #2d2d2a
}

.social--white .social__icon {
    fill: #fff
}

.social--dark .social__icon {
    fill: #868c92
}

.cta {
    background-color: #202020;
    text-align: center
}

.cta__inner {
    margin-top: 110px;
    padding-bottom: 60px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .05)
}

.cta__headline {
    font-size: 24px;
    line-height: 32px;
    font-weight: regular;
    margin-bottom: 10px;
    color: #fff
}

.cta__byline {
    font-size: 19px;
    line-height: 32px;
    color: #868c92;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif
}

.cta__btn {
    margin-top: 5px
}

.cta__bottom {
    margin-top: 55px;
    margin-bottom: 70px
}

.cta__bottom:after, .cta__bottom:before {
    content: "";
    display: table;
    clear: both
}

.cta__footline {
    color: #868c92;
    float: none;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1;
    margin-top: 9px
}

.objective {
    list-style-type: none;
    margin-bottom: 60px;
    margin-top: 50px;
    width: 100%;
    padding-left: 0!important
}

.objective:after, .objective:before {
    content: "";
    display: table;
    clear: both
}

.objective__item {
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
    float: left;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 235px;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    text-align: center
}

.objective__item:before {
    content: none!important
}

.objective__item:first-child {
    margin-left: 0!important
}

.objective--faajob .objective__item {
    background-color: #0097d4;
    border: 1px solid #0097d4;
    color: #fff
}

.objective--oyo .objective__item {
    border: 1px solid #e4e4e4;
    color: #868c92
}

.cover {
    height: 320px;
    margin-bottom: 60px;
    padding-top: 126px;
    text-align: center
}

.cover--about {
    background-image: url(../images/about/about.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 470px;
    position: relative
}

.cover--about:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    mix-blend-mode: multiply
}

.cover--about:before, .cover--contact {
    background: linear-gradient(270deg, #136a8a, #267871)
}

.cover--contact {
    height: inherit
}

.faajob .cover {
    background-color: #0097d4
}

.oyo .cover {
    background-color: #b41c03
}

.aldoshik .cover {
    background-color: #e67d21
}

.zomato .cover {
    background-color: #ad252f;
    background-image: url(../images/projects/zomato/pattern-zom.png);
    background-repeat: repeat
}

.cover__logo {
    fill: #fff
}

.cover__logo--faajob {
    height: 32px;
    width: 220px
}

.cover__logo--oyo {
    height: 40px;
    width: 96px
}

.cover__logo--aldoshik {
    height: 30px;
    width: 160px
}

.cover__logo--zomato {
    height: 37px;
    width: 144px
}

.cover__image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 250px;
    text-align: center;
    width: 100%
}

.cover__image--faajob {
    background-image: url(../images/projects/faajob/faajob-cover.png)
}

.cover__image--oyo {
    background-image: url(../images/projects/oyo/oyo-cover.png)
}

.cover__image--aldoshik {
    background-image: url(../images/projects/aldoshik/aldoshik-cover.png)
}

.cover__image--zomato {
    background-image: url(../images/projects/zomato/zomato-cover.png)
}

.about__byline {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 22px;
    line-height: 40px;
    text-align: center
}

.about__text {
    color: #868c92;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif
}

.contact {
    background-color: #f3f3f3;
    margin-bottom: 80px;
    padding: 20px 30px
}

.contact__headline {
    font-size: 24px;
    line-height: 32px;
    font-weight: regular;
    margin-bottom: 15px
}

.contact__byline {
    color: #868c92;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px
}

.contact__subheading {
    color: #888;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase
}

.contact__social {
    margin-bottom: 30px
}

.contact__social .social__link {
    margin-left: 0
}

.contact__social-link:after, .contact__social-link:before {
    content: "";
    display: table;
    clear: both
}

.contact__social-icon {
    float: left;
    margin-right: 10px;
    margin-top: 4px
}

.contact__social-label {
    display: inline-block;
    float: left;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0
}

.contact__social-label--twitter {
    color: #55acee
}

.contact__social-label--dribbble {
    color: #ea4c89
}

.contact__social-label--github {
    color: #2d2d2a
}

.contact__input, .contact__textarea {
    background-color: #fff
}

.contact__input:focus, .contact__textarea:focus {
    border-bottom: 1px solid #479e2b
}

.contact__input {
    margin-bottom: 20px
}

.contact__textarea {
    height: 250px;
    margin-top: 28px
}

.contact__btn-cont {
    text-align: center
}

.contact__btn {
    display: inline-block;
    margin-top: 10px;
    width: auto
}

.thanks {
    background-color: #f3f3f3;
    margin-bottom: 80px;
    padding: 40px 0;
    text-align: center
}

.thanks__icon {
    fill: #479e2b;
    width: 60px
}

.thanks__headline {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: -30px
}

.thanks__byline {
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0 80px
}

.jumbotron {
    background-color: #0074d9;
    border-radius: 5px;
    height: 500px;
    overflow: hidden;
    position: relative
}

.jumbotron:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    content: '';
    opacity: .8;
    transition: opacity .3s ease-in-out
}

.jumbotron__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

.jumbotron__logo {
    display: inline-block;
    fill: #fff
}

.jumbotron__logo--uigradients {
    height: 70px;
    opacity: .9;
    width: 200px
}

.jumbotron__logo--cssfilters {
    height: 115px;
    opacity: .9;
    width: 180px
}

.jumbotron__byline {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-family: Muli, Helvetica Neue, Helvetica, Arial, sans-serif;
    opacity: .8
}

.jumbotron--uigradients {
    background-color: #516395;
    background-image: url(../images/lab/uigradients/uigradients.png);
    background-position: 100% 100%
}

.jumbotron--uigradients:before {
    background: linear-gradient(270deg, #614385, #516395)
}

.jumbotron--uigradients:hover:before {
    opacity: .9
}

.jumbotron--cssfilters {
    background-color: #292e36;
    background-image: url(../images/lab/cssfilters/cssfilters.png);
    background-position: 0 100%
}

.jumbotron--cssfilters:before {
    background: #292e36
}

.jumbotron--cssfilters:hover:before {
    opacity: .9
}

.minigrid {
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-gap: 10px;
    column-gap: 10px
}

.minigrid-item {
    display: inline-block;
    margin: 0 0 10px;
    width: 100%
}

@media all and (min-width:10px) {
    .col-s-1 {
        width: 8.33333%
    }
    .col-s-offset-1 {
        margin-left: 8.33333%
    }
    .col-s-push-1 {
        left: 8.33333%
    }
    .col-s-pull-1 {
        right: 8.33333%
    }
    .col-s-2 {
        width: 16.66667%
    }
    .col-s-offset-2 {
        margin-left: 16.66667%
    }
    .col-s-push-2 {
        left: 16.66667%
    }
    .col-s-pull-2 {
        right: 16.66667%
    }
    .col-s-3 {
        width: 25%
    }
    .col-s-offset-3 {
        margin-left: 25%
    }
    .col-s-push-3 {
        left: 25%
    }
    .col-s-pull-3 {
        right: 25%
    }
    .col-s-4 {
        width: 33.33333%
    }
    .col-s-offset-4 {
        margin-left: 33.33333%
    }
    .col-s-push-4 {
        left: 33.33333%
    }
    .col-s-pull-4 {
        right: 33.33333%
    }
    .col-s-5 {
        width: 41.66667%
    }
    .col-s-offset-5 {
        margin-left: 41.66667%
    }
    .col-s-push-5 {
        left: 41.66667%
    }
    .col-s-pull-5 {
        right: 41.66667%
    }
    .col-s-6 {
        width: 50%
    }
    .col-s-offset-6 {
        margin-left: 50%
    }
    .col-s-push-6 {
        left: 50%
    }
    .col-s-pull-6 {
        right: 50%
    }
    .col-s-7 {
        width: 58.33333%
    }
    .col-s-offset-7 {
        margin-left: 58.33333%
    }
    .col-s-push-7 {
        left: 58.33333%
    }
    .col-s-pull-7 {
        right: 58.33333%
    }
    .col-s-8 {
        width: 66.66667%
    }
    .col-s-offset-8 {
        margin-left: 66.66667%
    }
    .col-s-push-8 {
        left: 66.66667%
    }
    .col-s-pull-8 {
        right: 66.66667%
    }
    .col-s-9 {
        width: 75%
    }
    .col-s-offset-9 {
        margin-left: 75%
    }
    .col-s-push-9 {
        left: 75%
    }
    .col-s-pull-9 {
        right: 75%
    }
    .col-s-10 {
        width: 83.33333%
    }
    .col-s-offset-10 {
        margin-left: 83.33333%
    }
    .col-s-push-10 {
        left: 83.33333%
    }
    .col-s-pull-10 {
        right: 83.33333%
    }
    .col-s-11 {
        width: 91.66667%
    }
    .col-s-offset-11 {
        margin-left: 91.66667%
    }
    .col-s-push-11 {
        left: 91.66667%
    }
    .col-s-pull-11 {
        right: 91.66667%
    }
    .col-s-12 {
        width: 100%
    }
    .col-s-offset-12 {
        margin-left: 100%
    }
    .col-s-push-12 {
        left: 100%
    }
    .col-s-pull-12 {
        right: 100%
    }
    .col-s-1by3 {
        width: 33.33333%
    }
    .col-s-2by3 {
        width: 66.66667%
    }
    .col-s-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
}

@media all and (min-width:640px) {
    .col-m-1 {
        width: 8.33333%
    }
    .col-m-offset-1 {
        margin-left: 8.33333%
    }
    .col-m-push-1 {
        left: 8.33333%
    }
    .col-m-pull-1 {
        right: 8.33333%
    }
    .col-m-2 {
        width: 16.66667%
    }
    .col-m-offset-2 {
        margin-left: 16.66667%
    }
    .col-m-push-2 {
        left: 16.66667%
    }
    .col-m-pull-2 {
        right: 16.66667%
    }
    .col-m-3 {
        width: 25%
    }
    .col-m-offset-3 {
        margin-left: 25%
    }
    .col-m-push-3 {
        left: 25%
    }
    .col-m-pull-3 {
        right: 25%
    }
    .col-m-4 {
        width: 33.33333%
    }
    .col-m-offset-4 {
        margin-left: 33.33333%
    }
    .col-m-push-4 {
        left: 33.33333%
    }
    .col-m-pull-4 {
        right: 33.33333%
    }
    .col-m-5 {
        width: 41.66667%
    }
    .col-m-offset-5 {
        margin-left: 41.66667%
    }
    .col-m-push-5 {
        left: 41.66667%
    }
    .col-m-pull-5 {
        right: 41.66667%
    }
    .col-m-6 {
        width: 50%
    }
    .col-m-offset-6 {
        margin-left: 50%
    }
    .col-m-push-6 {
        left: 50%
    }
    .col-m-pull-6 {
        right: 50%
    }
    .col-m-7 {
        width: 58.33333%
    }
    .col-m-offset-7 {
        margin-left: 58.33333%
    }
    .col-m-push-7 {
        left: 58.33333%
    }
    .col-m-pull-7 {
        right: 58.33333%
    }
    .col-m-8 {
        width: 66.66667%
    }
    .col-m-offset-8 {
        margin-left: 66.66667%
    }
    .col-m-push-8 {
        left: 66.66667%
    }
    .col-m-pull-8 {
        right: 66.66667%
    }
    .col-m-9 {
        width: 75%
    }
    .col-m-offset-9 {
        margin-left: 75%
    }
    .col-m-push-9 {
        left: 75%
    }
    .col-m-pull-9 {
        right: 75%
    }
    .col-m-10 {
        width: 83.33333%
    }
    .col-m-offset-10 {
        margin-left: 83.33333%
    }
    .col-m-push-10 {
        left: 83.33333%
    }
    .col-m-pull-10 {
        right: 83.33333%
    }
    .col-m-11 {
        width: 91.66667%
    }
    .col-m-offset-11 {
        margin-left: 91.66667%
    }
    .col-m-push-11 {
        left: 91.66667%
    }
    .col-m-pull-11 {
        right: 91.66667%
    }
    .col-m-12 {
        width: 100%
    }
    .col-m-offset-12 {
        margin-left: 100%
    }
    .col-m-push-12 {
        left: 100%
    }
    .col-m-pull-12 {
        right: 100%
    }
    .col-m-1by3 {
        width: 33.33333%
    }
    .col-m-2by3 {
        width: 66.66667%
    }
    .col-m-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
}

@media all and (min-width:1040px) {
    .col-l-1 {
        width: 8.33333%
    }
    .col-l-offset-1 {
        margin-left: 8.33333%
    }
    .col-l-push-1 {
        left: 8.33333%
    }
    .col-l-pull-1 {
        right: 8.33333%
    }
    .col-l-2 {
        width: 16.66667%
    }
    .col-l-offset-2 {
        margin-left: 16.66667%
    }
    .col-l-push-2 {
        left: 16.66667%
    }
    .col-l-pull-2 {
        right: 16.66667%
    }
    .col-l-3 {
        width: 25%
    }
    .col-l-offset-3 {
        margin-left: 25%
    }
    .col-l-push-3 {
        left: 25%
    }
    .col-l-pull-3 {
        right: 25%
    }
    .col-l-4 {
        width: 33.33333%
    }
    .col-l-offset-4 {
        margin-left: 33.33333%
    }
    .col-l-push-4 {
        left: 33.33333%
    }
    .col-l-pull-4 {
        right: 33.33333%
    }
    .col-l-5 {
        width: 41.66667%
    }
    .col-l-offset-5 {
        margin-left: 41.66667%
    }
    .col-l-push-5 {
        left: 41.66667%
    }
    .col-l-pull-5 {
        right: 41.66667%
    }
    .col-l-6 {
        width: 50%
    }
    .col-l-offset-6 {
        margin-left: 50%
    }
    .col-l-push-6 {
        left: 50%
    }
    .col-l-pull-6 {
        right: 50%
    }
    .col-l-7 {
        width: 58.33333%
    }
    .col-l-offset-7 {
        margin-left: 58.33333%
    }
    .col-l-push-7 {
        left: 58.33333%
    }
    .col-l-pull-7 {
        right: 58.33333%
    }
    .col-l-8 {
        width: 66.66667%
    }
    .col-l-offset-8 {
        margin-left: 66.66667%
    }
    .col-l-push-8 {
        left: 66.66667%
    }
    .col-l-pull-8 {
        right: 66.66667%
    }
    .col-l-9 {
        width: 75%
    }
    .col-l-offset-9 {
        margin-left: 75%
    }
    .col-l-push-9 {
        left: 75%
    }
    .col-l-pull-9 {
        right: 75%
    }
    .col-l-10 {
        width: 83.33333%
    }
    .col-l-offset-10 {
        margin-left: 83.33333%
    }
    .col-l-push-10 {
        left: 83.33333%
    }
    .col-l-pull-10 {
        right: 83.33333%
    }
    .col-l-11 {
        width: 91.66667%
    }
    .col-l-offset-11 {
        margin-left: 91.66667%
    }
    .col-l-push-11 {
        left: 91.66667%
    }
    .col-l-pull-11 {
        right: 91.66667%
    }
    .col-l-12 {
        width: 100%
    }
    .col-l-offset-12 {
        margin-left: 100%
    }
    .col-l-push-12 {
        left: 100%
    }
    .col-l-pull-12 {
        right: 100%
    }
    .col-l-1by3 {
        width: 33.33333%
    }
    .col-l-2by3 {
        width: 66.66667%
    }
    .col-l-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
}

@media (min-width:0) and (max-width:639px) {
    .hide-when-small {
        display: none
    }
}

@media (min-width:640px) and (max-width:1039px) {
    .hide-when-medium {
        display: none
    }
    .show-when-medium {
        display: block!important
    }
}

@media (min-width:1040px) {
    .hide-large-onwards, .hide-when-large {
        display: none
    }
    .show-large-onwards, .show-when-large {
        display: block!important
    }
    .banner__inner {
        padding: 70px 0;
        text-align: initial
    }
    .banner__desc {
        margin-left: 0;
        max-width: 35%!important
    }
    .banner__service-list {
        list-style-type: disc
    }
    .banner__img {
        position: absolute
    }
    .banner__img--faajob {
        /*bottom: -46px;*/
        right: -120px;
        width: 780px
    }
    .banner__img--oyo {
        bottom: -86px;
        right: -70px
    }
    .banner__img--aldoshik, .banner__img--zomato {
        bottom: -46px;
        right: -250px
    }
    .banner .banner__text {
        margin-bottom: 0;
        text-align: left
    }
    .cover__logo-cont {
        margin-bottom: 90px!important
    }
    .cover__image {
        height: 404px;
        margin-bottom: 40px;
        width: 698px
    }
    .contact {
        padding: 40px 50px
    }
    .contact__input {
        margin-bottom: 0
    }
    .contact__textarea {
        margin-top: 38px
    }
    .contact__btn {
        margin-top: 30px
    }
    .jumbotron--cssfilters {
        background-size: 90%
    }
}

@media (min-width:10px) {
    .hide-small-onwards {
        display: none
    }
    .show-small-onwards {
        display: block!important
    }
}

@media (min-width:640px) {
    .hide-medium-onwards {
        display: none
    }
    .show-medium-onwards {
        display: block!important
    }
    .header__nav {
        float: left
    }

    .intro__text {
        margin: auto;

    }

    .banner__desc {
        max-width: 65%
    }
    .cta__footline {
        float: left
    }
    .cta__social {
        float: right
    }
    .objective {
        margin-left: -30%;
        width: 160%
    }
    .objective--triple .objective__item {
        margin-left: 2%;
        width: 32%
    }
    .objective--double .objective__item {
        margin-left: 2%;
        width: 48%
    }
    .cover {
        height: 540px;
        margin-bottom: 0
    }
    .cover__logo-cont {
        margin-bottom: 30px;
        margin-top: 50px
    }
    .cover__image {
        height: 404px
    }
    .thanks {
        padding: 40px 50px
    }
    .minigrid {
        -moz-column-count: 2;
        column-count: 2
    }
}

@media (max-width:10px) {
    .hide-upto-small {
        display: none
    }
    .show-upto-small {
        display: block!important
    }
}

@media (max-width:640px) {
    .hide-upto-medium {
        display: none
    }
    .show-upto-medium {
        display: block!important
    }
}

@media (max-width:1040px) {
    .hide-upto-large {
        display: none
    }
    .show-upto-large {
        display: block!important
    }
}

@media (min-width:10px) and (max-width:639px) {
    .show-when-small {
        display: block!important
    }
}
